
@media only screen and (max-width: 991px) {
    .personal-image {
        top: 50%;
    }

    .personal-text h1{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 1199px) {
    .personal-text h1{
        font-size: 3.25em;
    }
}

@media only screen and (max-width: 767px) {
    .personal-text h1{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 928px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}